<div class="card mb-3">

	<div class="row">
		<div class="col-md-6">
			<figure class="figure">
				<img src="{{data.img}}" class="card-img-top" alt="...">
			</figure>
		</div>
		<div class="col-md-6">
			<div class="card-body">
				<h5 class="card-title">{{data.name}}</h5>
				<p class="card-text">Precio: {{data.price | currency}}</p>
				<p class="card-text">Unidades: {{data.units}}</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<button type="button" [routerLink]="['/home']" class="btn btn-secondary">
				Volver
			</button>
		</div>
	</div>

</div>