<div class="home-content">

	<app-navbar></app-navbar>

	<div class="container margen-top-10">

		<!-- submenu -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Catálogo de productos</a>
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto"></ul>

				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" 
						[(ngModel)]="filtro" name="filtro"
						type="search" placeholder="Buscar un producto" aria-label="Search">
				</form>

			</div>
		</nav>
		<!-- submenu -->

		<div class="home-content-product">
			<div class="row">
				<div class="col-sm-4" *ngFor="let p of products | filtroProducto:filtro">
					<app-producto [data]="p"></app-producto>
				</div>
			</div>
		</div>

	</div>

</div>
