<div class="login-content">

	<!-- ============================================ -->
	<!-- Formulario Login -->
	<!-- ============================================ -->
	<form class="login-form" ngNativeValidate #f="ngForm" (ngSubmit)="ingresar( f )">
		<div class="form-group">
			<label>Usuario</label>
			<input type="email" class="form-control" placeholder="correo@ejemplo.com"
				name="user" ngModel required>
		</div>
		
		<div class="form-group">
			<label>Contraseña</label>
			<input type="password" class="form-control" placeholder="******************"
				name="pass" ngModel required>
			<strong *ngIf="error_code" class="form-text text-danger">{{ error_code }}</strong>
		</div>

		<button type="submit" class="btn btn-primary">Ingresar</button>
	</form>
	<!-- ============================================ -->
	<!-- FIN Formulario Login -->
	<!-- ============================================ -->

</div>
